*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

[class*="col-"] {
    background-clip: padding-box;
    border: 7.5px solid transparent;
}


/*START SERVICES TAB*/

.container__services {
    background-color: #d7d7d7;
    height: auto;
}

.headlight__text_blue {
    color: #2b569a;
    font-family: "segoe_ui";
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    line-height: 30px;
    margin-top: 45px;
    text-align: center;
}

.headlight__hr_blue {
    border-top: 2px solid #2b569a;
    width: 75px;
    margin: 0 auto;
    margin-top: 15px;
}

.services__tile {
    margin-top: 28.5px;
    padding: 0;
}

.services__tile:last-child {
    margin-bottom: 67.5px;
}

.services__subtile_1 {
    background-color: #2b559a;
    height: 147px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/t1.png);
}

.services__subtile_2 {
    height: 147px;
    background-color: #427ad4;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/t2.png);
}

.services__subtile_3 {
    height: 147px;
    background-color: #427ad4;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/t3.png);
}

.services__subtile_4 {
    background-color: #2b559a;
    height: 147px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/t4.png);
}

.services__subtile_5 {
    height: 147px;
    background-color: #427ad4;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/t5.png);
}

.services__subtile_6 {
    height: 147px;
    background-color: #427ad4;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/t6.png);
}

.services__subtile_7 {
    height: 147px;
    background-color: #427ad4;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/t7.png);
}

.services__subtile_8 {
    height: 147px;
    background-color: #427ad4;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/t8.png);
}

.services__subtile_9 {
    background-color: #2b559a;
    height: 147px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/t9.png);
}

.services__subtile_10 {
    border-bottom: 0;
}

.services__subtile_10_text {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    color: #2b569a;
    font-family: "segoe_ui_bold";
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 18px;
}

.services__map {
    background-image: url(../img/map.png);
    margin: 0 auto;
    width: 288px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 196px;
}

.services__subtile_11 {
    height: 50px;
    border: 3px solid #2b559a;
    margin-top: 5px;
    width: calc(58.33333333% - 7.5px);
    line-height: 45px;
    margin-right: 7.5px;
}

.services__subtile_12 {
    width: calc(41.66666667% - 15px);
    height: 50px;
    margin-left: 7.5px;
    margin-top: 5px;
    border: 0;
    background-color: #f90;
    line-height: 50px;
}

.work_with_ukraine {
    font-size: 15px;
}

.black {
    color: #282828;
}

.subtile__white_text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 5px);
    text-align: center;
}


/*END SERVICES TAB*/


/*START TRUST TAB*/

.row {
    margin: 0 auto;
    max-width: 100%;
}

.trust__item1 {
    background-image: url(../img/bosch.png) !important;
    height: 50px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.trust__item2 {
    background-image: url(../img/navien.png);
    height: 50px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.trust__item3 {
    background-image: url(../img/viesman.png);
    height: 50px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.trust__leftchev {
    background-image: url(../img/left_chevron_t.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 50px;
    padding: 0;
}

.trust__rightchev {
    background-image: url(../img/right_chevron_t.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 50px;
    padding: 0;
}

.large-12 {
    position: relative;
    top: -8px;
    padding: 0;
}

.demos {
    margin-top: 40px;
    margin-bottom: 30px;
}


/*END TRUST TAB*/


/*START PRICES TAB*/

.container__prices {
    background-color: #27569b;
}

.white {
    color: white;
    border-color: white;
}

.prices__leftchev {
    background-image: url(../img/prices_lchev.png);
    height: 55px;
    margin-top: 100px;
}

.prices__rightchev {
    background-image: url(../img/prices_rchev.png);
    height: 55px;
    margin-top: 100px;
}

.prices__item1 {
    background-image: url(../img/prices.png) !important;
    height: 265px;
    background-size: contain;
}

.prices__item2 {
    background-image: url(../img/prices.png);
    height: 265px;
    background-size: contain;
}

.prices__item3 {
    background-image: url(../img/prices.png);
    height: 265px;
    background-size: contain;
}

.price__blue {
    color: #2b569a;
    width: 100%;
    display: flex;
    font-size: 22px;
    font-family: "segoe_ui_bold";
    justify-content: center;
    float: right;
}

.price__blue_top {
    position: relative;
    top: 32px;
}

.price__blue_bottom {
    position: relative;
    top: 140px;
}

.price__white {
    width: 100%;
    display: flex;
    font-size: 25px;
    font-weight: 800;
    font-family: "segoe_ui_bold";
    justify-content: center;
    float: right;
    position: relative;
    top: 85px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: white;
}

.owl-theme .owl-dots .owl-dot span {
    border: 2px solid white;
    margin-top: 15px;
    background-color: transparent;
}

.prices__button {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    height: 50px;
    margin: 0 auto;
    align-items: center;
    max-width: 280px;
    color: #ffd800;
    border: 3px solid;
    font-family: "segoe_ui_bold";
    font-size: 18px;
    margin-bottom: 50px;
}


/*END PRICES TAB*/


/*START REVIEWS TAB*/

.container__reviews {
    background-color: #dcdcdc;
}

.reviews_ava1 {
    background-image: url(../img/ava1.png);
    background-repeat: no-repeat;
    text-align: center;
    height: 72px;
    width: 72px;
}

.reviews_ava2 {
    background-image: url(../img/ava2.png);
    background-repeat: no-repeat;
    text-align: center;
    height: 72px;
    width: 72px;
}

.reviews_name {
    color: #2b569a;
    font-size: 12px;
    font-family: "segoe_ui_bold";
}

.reviews_markname {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 13px;
    float: right;
}

.reviews_mark {
    background-image: url(../img/stars.png);
    background-repeat: no-repeat;
    text-align: center;
    height: 13px;
    width: 83px;
}

.reviews__slogan {
    color: #2b569a;
    font-family: "segoe_ui_bold";
    font-size: 16px;
    text-align: center;
    line-height: 17px;
    height: auto;
    vertical-align: middle;
    padding-left: 30px;
    text-align: center;
    padding-right: 30px;
}

.reviews__desc {
    font-family: "segoe_ui";
    color: #282828;
    font-size: 15px;
    text-align: center;
}

.blue {
    color: #2b569a;
    border-color: #2b569a;
}

.reviews__people {
    margin: 0;
    margin-bottom: 25px;
}

.reviews__button1 {
    margin-top: 30px;
    text-transform: uppercase;
}

.reviews_tile1 {
    background-color: white;
    padding: 20px;
}

.reviews_tile2 {
    background-color: #898989;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.reviews_tile3 {
    background-color: white;
    padding: 20px;
    margin-bottom: 50px;
}

.reviews_icon1 {
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/icon1.png);
    background-repeat: no-repeat;
    text-align: center;
    height: 24px;
    width: 24px;
}

.reviews_icon2 {
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/icon2.png);
    background-repeat: no-repeat;
    text-align: center;
    height: 24px;
    width: 24px;
}

.reviews_icon3 {
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/icon3.png);
    background-repeat: no-repeat;
    text-align: center;
    height: 24px;
    width: 24px;
}

.reviews_desc {
    text-align: center;
    font-family: "segoe_ui_bold";
    font-size: 16px;
    margin-top: 14px;
    line-height: 22px;
}

.reviews_button2 {
    width: 55%;
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 11px;
}

.reviews__headlight {
    width: 100%;
    text-align: center;
    color: #282828;
    font-family: "segoe_ui_bold";
    font-size: 18px;
    margin-bottom: 25px;
}

.reviews__text {
    font-family: "segoe_ui";
    color: #282828;
    font-size: 15px;
    text-align: center;
    margin-bottom: 60px;
}

.reviews__control {
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
}

.reviews__button3 {
    width: auto;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    float: left;
}

.reviews__button4 {
    width: auto;
    float: left;
    display: table-cell;
    margin-bottom: 50px;
}


/*END REVIEWS TAB*/
