/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .services__subtile_10_text {
        font-size: 15px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .prices__button {
        position: relative;
        top: -25px;
        margin-bottom: 20px;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .services__subtile_12 {
        margin-bottom: 50px;
    }
    .reviews_button2 {
        margin-bottom: 0;
    }
    .reviews_button2 {
        width: 40%;
        margin: 0 auto;
        margin-top: 27px;
        margin-bottom: 11px;
    }
    .reviews__button4 {}
    .reviews__button3 {}
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 560px) {
    .services__subtile_10_text {
        font-size: 13px;
    }
    .work_with_ukraine {
        font-size: 18px;
        text-align: center;
        margin-top: 25px;
    }
    .services__subtile_11 {
        width: calc(60% - 7.5px);
    }
    .services__subtile_12 {
        width: calc(40% - 15px);
        margin-bottom: 50px !important;
    }
    .reviews_button2 {
        width: 50%;
        margin: 0 auto;
        margin-top: 27px;
        margin-bottom: 11px;
        margin-bottom: 0 !important;
    }
    .reviews__button3 {
        width: 100% !important;
    }
    .reviews__button3 {
        width: 100% !important;
    }
    .reviews__button4 {
        width: 100% !important;
        margin-left: 0;
        text-align: center;
    }
    .reviews__button4 {
        margin-left: 15px !important;
    }
}

@media only screen and (max-width: 498px) {
    .reviews__button4 {
        margin-left: 0 !important;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 480px) {
    .services__map {
        display: none;
    }
    .services__subtile_11 {
        width: calc(100% - 15px);
        margin-left: 7.5px;
        margin-bottom: 5px;
        text-align: center;
    }
    .services__subtile_12 {
        width: calc(100% - 15px);
        margin-bottom: 50px !important;
    }
    .prices__item1 {
        background-size: contain;
    }
    .prices__item2 {
        background-size: contain;
    }
    .prices__item3 {
        background-size: contain;
    }
    .reviews_ava1 {
        background-image: url(../img/ava1.png);
        background-repeat: no-repeat;
        text-align: center;
        height: 72px;
        background-position: center;
        width: 100%;
    }
    .reviews_ava2 {
        background-image: url(../img/ava2.png);
        background-repeat: no-repeat;
        text-align: center;
        height: 72px;
        background-position: center;
        width: 100%;
    }
    .reviews_name {
        color: #2b569a;
        font-size: 12px;
        font-family: "segoe_ui_bold";
        text-align: center;
    }
    .reviews_markname {
        margin-top: 0;
    }
    .reviews_mark {
        background-image: url(../img/stars.png);
        background-repeat: no-repeat;
        text-align: center;
        height: 13px;
        width: 83px;
        margin: 0 auto;
    }
    .reviews_button2 {
        width: 60%;
        margin-bottom: 0 !important;
    }
    .reviews__button4 {}
    .reviews__button3 {
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 350px) {
    .trust__item1 {
        -webkit-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
    .trust__item2 {
        -webkit-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
    .trust__item3 {
        -webkit-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
    .trust__leftchev {
        border: 0;
    }
    .trust__rightchev {
        border: 0;
    }
    .prices__item1 {
        background-size: contain;
        height: 165px;
    }
    .prices__item2 {
        background-size: contain;
        height: 165px;
    }
    .prices__item3 {
        background-size: contain;
        height: 165px;
    }
    .price__blue {
        font-size: 19px;
    }
    .price__blue_top {
        position: relative;
        top: 16px;
    }
    .price__blue_bottom {
        position: relative;
        top: 60px;
    }
    .price__white {
        top: 42px;
        font-size: 20px;
    }
    .prices__leftchev {
        margin-top: 57px;
    }
    .prices__rightchev {
        margin-top: 57px;
    }
    .prices__button {
        padding: 10px 13px;
        max-width: 280px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 330px) {
    .services__subtile_11 {
        height: 75px;
        line-height: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 480px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 560px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
